.variables {
  --screen-background: #ffffff;
  --chrome: #ffffff;
  --system-blue: #007aff;
  --system-green: #53d769;
  --system-red: #ff3b30;
  --primary-label: #000000;
  --secondary-label: #888888;
  --messaging-bubble: #e6e5eb;
}

/*
.variables {
  --screen-background: #000000;
  --chrome: #000000;
}
*/
